<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhang.wsp.dao.RuleDao">

    <resultMap id="RuleBaseMap" type="com.zhang.wsp.model.Rule">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="ruleid" property="ruleid" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>

    </resultMap>





    <select id="selectAllRule" resultMap="RuleBaseMap">
        SELECT * FROM rule
    </select>

</mapper>